@import "./../variables.scss";
.contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 40vh;
  margin: auto auto 2%;

  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 3%;

    .icons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80%;

      .iconCard{
        text-decoration: none;
        transition: all .5s ease-out;
        @include card();
        @include regularText();
        height: 13vw;
        width: 13vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon{
          width: 7vw;
          height: 7vw;
        }
        .linkedin{
          @include linkedin()
        }
        .git{
          @include git()
        }
        .mail{
          @include mail()
        }
        .phone{
          @include phone()
        }

        & span{
          margin-top: 5%;
        }
      }
      .iconCard:hover{
        box-shadow: 3px 5px 50px 0px rgba(230,64,119,1);
        cursor: pointer;
        transform: scale(1.1);
        transition: all .5s ease;
      }
      .iconCard:active{
        transform: scale(.9);
      }
    }
    .footer{
      display: flex;
      justify-content: space-between;
      height: 20%;
      width: 90%;
      align-self: center;

      .footerText{
        width: 60%;
        text-align: left;
        @include regularText()
      }
      .footerLogo{
        @include logo();
        font-size: calc(2vmax + 2rem);
      }
    }
  }
}
.contacts_mobile{
  flex-direction: column;
  height: 100%;

  .title{
    transform: none;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
  }
  .line{
    width: 80%;
    height: .2rem;
    margin: 5%;
    box-shadow: 0 2px $lines, 0 -2px $lines;

  }
  .wrapper{
    align-items: center;

    .icons{
      flex-wrap: wrap;
      margin-top: 10%;
      margin-bottom: 10%;

      .iconCard{
        width: 45%;
        height: 20vmax;
        background-color: white;

        .icon{
          width: 10vmax;
          height: 10vmax;
        }
        & span{
          font-size: calc(1rem + 1vw);
        }
      }


    }
    .footer{

      .footerLogo{
        color: white;
        text-shadow: -2px 0 $lines, 0 2px $lines, 0 2px $lines, -2px 0 $lines;
        font-size: calc(3vmax + 3rem);
        margin: auto auto 5%;
      }
    }
  }
}
