@import "./../variables.scss";

.portfolio{
  width: 96%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 4% auto;

  .header{
    width: 30%;
    display: flex;
    flex-direction: column;


    .title{
      transform: none;
      width: 100%;
    }
    .line_h{
      height: 0.2rem;
      width: 80%;
      opacity: .5;
      display: flex;
      background-color: $lines;
      margin: 0 auto;
      box-shadow: 0 2px white, 0 -2px white;

    }
  }
  .header_mobile{
    width: 100%;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(9vh + 1vw);
    width: 90%;
    margin-bottom: 1%;



    & .button{
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;
      border: 1px solid rgba(42, 70, 255, 0.2);
      border-radius: 1.2rem;
      background-color: white;
      height: 100%;
      min-width: 10vw;
      flex-grow: .1;
      text-align: start;
      overflow: hidden;
      cursor: pointer;
      transform: scale(1);
      transition: .5s ease;



      &.activeBtn{
        outline: 7px solid rgba(42, 70, 255, 1)
      }

      & div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & div{
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 15vmax;
          width: 50%;
          //margin: 1%;
        }
      }
      & span{
        @include regularText();
        font-size: calc(.5rem + .5vw);
      }
    }


  }
  .buttons_mobile{
    flex-direction: column;
    height: 100%;

    & .button{
      outline: none;
      width: 100%;
      margin: 1% 0 1% 0;
      padding: 0;
      box-shadow: $shadow;
      height: 100%;
      justify-content: flex-start;
      flex-direction: column;

      .button_wrap{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        background-image: none;

        .btn_mob{
          display: flex;
          flex-direction: column;
          background-image: none;
          width: 100%;
          height: 100%;
          margin: 0;

          .btn_head{
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            margin: 0;

            .mobile_proj_button{
              width: 100%;
              align-items: center;
              justify-content: flex-end;
              flex-direction: column;
              height: 100%;

              .btn_header{
                width: 100%;
                align-items: center;
                justify-content: flex-end;
              }
              .btn_body{
                width: 100%;
                height: auto;

                .mobile_overview{
                  width: 100%;
                  height: 100%;

                }

              }
            }

          }


          & .arrow{
            width: 15%;
            height: 5vmax;
            @include icon();
            background-image: url("./../images/down-arrow.png");
            border: none;
            margin: 6% 6% 6% 0;
            background-position: center;
            background-color: transparent;
            box-shadow: none;
          }
          .line{
            width: 2rem;
            height: .2rem;
            margin: 1%;
            flex-grow: 0;
            transform: rotate(90deg);
          }
        }

      }


      .project_mobile_container{
        width: 100%;
        height: auto;
        background-color: white;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .proj_name_mobile{
          font-size: calc(2rem + 2vw);
          overflow: visible;
          text-align: center;
        }
        }
        .proj_link_mobile{
          color: $vasilyok;
          text-decoration: underline;
          padding: 5%;
          overflow-wrap: anywhere;

        }
        .mob_proj_desc{
          height: 65%;
          overflow: auto;
          padding: 5%;

          & li{
            @include regularText();
            overflow: auto;
            margin-bottom: 3%;

            &:nth-child(even){
              background-color: rgba(206, 212, 248, 0.4);
            }

            & div{
              display: none;
            }
            & span{
              font-size: calc(.5rem + 1.5vw)
            }
          }
        }
        .carousel{
          height: 65%;
          width: 100%;
          padding: 5%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          background-image: none;


          .slide{
            width: 100%;
            height: 90%;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .shevronLeft, .shevronRight{
                transition: transform .5s ease-in-out;
                margin: 1%;
                width: 15vw;
                height: 15vh;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 1;
              }
            .shevronLeft{
              background-image: url("./../images/left-arrow.png");
            }
            .shevronRight{
              background-image: url("./../images/right-arrow.png");
            }


          }
          .dots{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 10%;
            margin: auto;
            padding: 0;
            align-items: center;
            justify-content: center;
            cursor: pointer;


            & div{
              border-radius: 50%;
              background-color: white;
              box-shadow: 2px 2px 2px 1px rgba(42, 70, 255, 0.2) inset;
              display: flex;
              height: 1vmax;
              width: 1vmax;
              margin: 1%;
              flex-shrink: 1;
              cursor: pointer;



              &.activeDot{
                background-color: $vasilyok;
              }
            }
          }
        }
        .btn_screenshots{
          background-color: $vasilyok;
          color: white;
          font-family: Regular;
          border: none;
          font-size: 4vmax;
          border-radius: 2rem;
          width: 80%;
          height: 10vmin;
          display: flex;
          margin: 3%;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }
  .window{
    width: 100%;
    height: 70vh;
    box-shadow: 1px 1px 14px 0px rgba(42, 70, 255, 0.2) inset;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .carousel{
      height: 90%;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .slide{
        width: 100%;
        height: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url("./../images/embarrassed.png");



        .shevronLeft, .shevronRight{
          transition: transform .5s ease-in-out;
          margin: 1%;
          width: 10vh;
          height: 10vw;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 1;
          cursor: pointer;
        }
        .shevronLeft{
          background-image: url("./../images/left-arrow.png");
        }
        .shevronRight{
          background-image: url("./../images/right-arrow.png");
        }
        .shevronLeft:hover, .shevronRight:hover{
          transform: scale(1.1);

        }
        .shevronLeft:active, .shevronRight:active{
          opacity: 1;
          transform: scale(.9);
        }
        .shevronLeft:active{
          background-image: url("./../images/left-arrow-color.png");
        }
        .shevronRight:active{
          background-image: url("./../images/right-arrow-color.png");
        }
        .disable{
          opacity: .2;
          pointer-events: none;
        }
      }
      .mobileSlideButton{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url("./../images/embarrassed.png");
        z-index: 10;
      }
      .mobileSlideButton:active{
        opacity: .1;
        //transform: scale(.9);
      }
      .dots{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: nowrap;
        width: 30%;
        flex-grow: 2;
        height: 5%;
        margin: auto;
        padding: 0;
        cursor: pointer;


        & div{
          border-radius: 50%;
          background-color: white;
          box-shadow: 2px 2px 2px 1px rgba(42, 70, 255, 0.2) inset;
          display: flex;
          height: .5vw;
          width: .5vw;
          margin: 1%;
          flex-shrink: 0;

          &.activeDot{
            background-color: $vasilyok;
          }
        }
      }
    }
    .review{
      height: 90%;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .proj_header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        align-items: center;
        justify-content: space-between;

        .proj_logo{
          @include icon();
          background-image: url("./../images/embarrassed.png");
          height: 100%;
          width: 15%;
          margin-right: 5%;
        }
        .proj_naming{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;

          .proj_name{
            @include sectionTitle();
            transform: none;
            width: 100%;
            justify-content: normal;
            font-size: calc(1rem + 1vw);
          }
          .proj_link{
            @include regularText();
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .proj_title{
        text-transform: capitalize;
        //background: #2a46ff;
        background: rgb(42,70,255);
        background: linear-gradient(90deg, rgba(42,70,255,1) 34%, rgba(42,70,255,0.5466561624649859) 88%, rgba(255,255,255,0) 100%);
        border-radius: 5px;
        color: white;
        padding: 1%;
        font-family: Bold, sans-serif;
        font-size: calc(.5rem + 1vw);
        margin: 3% 0 0 0;
      }
      .switch_wrap{
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
        left: 5%;
      }
      .switch_title{
        @include regularText()
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $lines;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: $navy;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px $navy;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 17px;
        border: none;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .proj_desc{
        flex-direction: column;
        width: 94%;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        overflow: auto;


        & li{
          margin-bottom: 2vh;
          display: flex;
          padding-left: 1%;
          list-style: none;


          & div{
            background-image: url("./../images/v.png");
            @include icon();
            width: 3vh;
            height: 3vh;
            margin-right: 3%;
          }
          & span{
            width: 80%;
            @include regularText();
          }
        }
      }

      .proj_stack{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        width: 100%;
        flex-wrap: nowrap;
        padding-left: 0;
        margin: 0;

        .item {
          height: 10vh;
          width: 2vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          font-size: calc(.5rem + 1vw);
          margin-right: 2%;
          margin-top: 1%;
          flex-shrink: 2;



          .img {
            width: 100%;
            height: 50%;
            margin: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
          }

          .link {
            @include regularText();
            height: 30%;
            flex-grow: 2;
            font-size: 1vmax;
            display: flex;
            overflow: visible;
            text-align: center;

          }
        }
      }
    }

}

