@import "./../variables.scss";

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 90vw;
    margin: auto auto 9%;

    .leftside{
        height: 100%;
        width: 30%;
        background-image: url("../images/phone_i.png");
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        &>p{
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
            margin: 0;
            left: 4%;
            color: $navy;
            font-family: Regular;
            font-size: 1rem;
        }
    }
    .leftside_mobile{
        display: none;
    }
    .line{
        @include line();
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .rightside{
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>p{
            transform: rotate(90deg);
            position: fixed;
            bottom: 10%;
            margin: 0;
            right: 0;
            color: $navy;
            font-family: Regular;
            font-size: 1rem;
            opacity: 1;
            transition: ease-in-out;
            transition-duration: .1s;
        }
        &>p.disappeared{
            opacity: 0;
        }
        .mainTitle{
            text-transform: uppercase;
            color: $vasilyok;
            font-family: Bold;
            font-size: 2.5rem;
        }
        .mainTitle_mobile{
            margin: 0;

            &>p{
                margin: 0;
            }
        }
        .secondTitle_mobile{
            text-align: center;
        }
        .secondTitle{
            font-size: 1.8rem;
            font-family: ExtraLight;
            color: $navy;
            margin-top: -6%;
            &>span{
                text-transform: uppercase;
                font-size: 2rem;
                font-family: Karla;


            }
        }
        button{
            display: flex;
            color: white;
            border-radius: 1.5rem;
            width: 20%;
            height: 20%;
            border-style: none;
            background-color: $vasilyok;
            font-family: Regular;
            font-size: calc(.5rem + 1vw);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5%;
            margin-top: 5%;
        }
        .button_mobile{
            width: 70%;
            font-size: calc(1rem + 1.5vw);
            margin: 0;
            height: 15%;
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            margin-left: 5%;
            margin-right: auto;

            &>*{
                width: 2vw;
                height: 2vw;

            }
            .linkedIn{
                @include linkedin();
            }
            .gitHub{
                @include git();
            }
            .email{
                @include mail()
            }
            .phone{
                @include phone()
            }
        }
        .icons_mobile{
            margin-right: 0;
            background-color: #CED4F8;
            padding: 5%;
            border-radius: 1rem;
            box-shadow: $shadow;

            .linkedIn{
                background-image: url("./../images/linkedin_white.png");
            }
            .gitHub{
                background-image: url("./../images/github_white.png");
            }
            .email{
                background-image: url("./../images/email_white.png");
            }
            .phone{
                background-image: url("./../images/telephone_white.png");
            }
        }
        .icons_mobile>*{
            width: 5vmax;
            height: 5vmax;

        }
    }
    .rightside_mobile{
        width: 100%;
        align-items: center;
    }
}
.home_mobile{
    height: 70vh;
}

